/*========== Стили к портфолио========== */
.portfolio {
    color:var(--color-black);
    font-style: normal;
    font-weight: 500;
}
.first {
    color:var(--color-blue); 
}
.portfolio.first {
    color:var(--color-blue);
}
.buttom:hover, .buttom:focus {
    background-color: var(--color-blue);
    color: var(--color-wight);
    transition: opacity 250ms var(--timing-function);
}

.buttom {
    min-width: 73px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: var(--color-wight);
    box-shadow:none;
    padding: 6px 22px;
}
.buttom-button{
    display: flex;
    margin-top: 100px;
    padding-left: 280px;
}
.buttom-button button{
    text-align: center;
    margin-right: 8px;
    }


.name-progect {
    width: 322px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    color: var(--color-black);
}

.progect-what {
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
    font-weight: 400;
}

.progect-list {
    overflow: hidden;
    padding-top: 56px;
    padding-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.progect-list-li {
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;

}
.progect-list-li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: opacity 250ms var(--timing-function);
}

.progect-list h3 {
    width: 322px;
}
.progect-list .name-progect {
    margin-top: 20px;
    padding-left: 24px;
}
.progect-list .progect-what {
    width: 322px;
    font-size: 16px;
    line-height: 30px;
    font-family: Roboto;
    color: #757575;
    margin-top: 4px;
    margin-bottom: 20px;
    padding-left: 24px;
}

.overlay {
    position: relative;
    overflow: hidden;
}
.overlay-p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-wight);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    
}
.overlay:hover .overlay-p {
    transform: translateY(0);
    transition: 250ms var(--timing-function);
}
.corona {
    position: absolute;
    height: 50%;
    width: 322px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

