.clients {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 47px;
}

.clients-li .svg-link:hover {
    color:var(--color-blue);
    border: 1px solid var(--color-blue);
    transition: opacity 250ms var(--timing-function);
}
.clients li:not(:last-child) {
    margin-right: 30px;
}
.clients-li .svg-link {
    display: flex;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    color: #AFB1B8;
    }
.company {
    margin: auto;
    fill: currentColor;
}